<div class="content">
    <!-- IF User -->
    <div v-show="Logid==true">
      <div class="bar">
        <router-link class="active" to="/">الرقم الوطني</router-link>
        <router-link to="/PersonID">رقم المواطن</router-link>
        <router-link to="/Log">سجل الأخطاء</router-link>
      </div>

      <div class="search-box">
        <div class="line">
          <div class="label">الرقم الوطني</div>
          <input v-model="PersonID" />
        </div>
        <div class="line">
          <button class="load" @click="Search">تحميل</button>
        </div>
      </div>

      <div class="pserson-data" v-show="ShowData==true">
        <div class="item-part">
          <div class="label">الإسم الأول</div>
          <div class="full">{{this.Person.FirstName}}</div>
        </div>
        <div class="item-part">
          <div class="label">إسم الأب</div>
          <div class="full">{{this.Person.SecondName}}</div>
        </div>
        <div class="item-part">
          <div class="label">إسم الجد</div>
          <div class="full">{{this.Person.ThirdName}}</div>
        </div>
        <div class="item-part">
          <div class="label">إسم العائلة</div>
          <div class="full">{{this.Person.LastName}}</div>
        </div>

        <div class="item-half">
          <div class="label">الجنس</div>
          <div class="full">{{this.Person.Gender}}</div>
        </div>

        <div class="item-half">
          <div class="label">رقم ورقة العائلة</div>
          <div class="full">{{this.Person.FamilyNumber}}</div>
        </div>

        <div class="item">
          <div class="label">رقم الهاتف</div>
          <div class="full">{{this.Person.PhoneNumber}}</div>
        </div>

        <div class="item">
          <div class="label">رقم المواطن</div>
          <div class="full">{{this.Person.IDnumber}}</div>
        </div>

        <div class="item-half">
          <div class="label">تاريخ الميلاد</div>
          <div class="full">{{this.Person.BirthDate}}</div>
        </div>

        <div class="item-half">
          <div class="label">السجل المدني التابع له</div>
          <div class="full">{{this.Person.CrsLocation}}</div>
        </div>

        <button class="update" @click="Logout">تحديث</button>
      </div>
    </div>
    <!-- End If User -->

    <!-- IF Not User -->
    <div v-show="Logid==false" class="Not-User">
      الرجاء القيام بتسجيل الدخول حتى تعرض لك هذه الصفحة
              <router-link to="/Login">تسجيل الدخول</router-link>

    </div>
    <!-- End IF Not User -->

    
  </div>