.bar {
  float: right;
  width: 100%;
  border-bottom: 3px solid #e74c3c;
  margin-top: 30px;

  a {
    float: right;
    width: calc(100% / 3);
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #777;
    text-decoration: none;
    margin-bottom: 10px;
  }

  a.active {
    color: #e74c3c;
  }
}

.search-box {
  float: right;
  width: calc(100% - 40px);
  margin: 40px 20px;
  border-bottom: 1px solid #efefef;

  .line {
    float: right;
    width: 100%;
    margin-top: 20px;

    .label {
      float: right;
      color: #777;
      font-size: 16px;
      margin-left: 5px;
      line-height: 20px;
      margin-right: -4px;
    }

    input {
      float: right;
      width: calc(100% - 40px);
      margin: 0px;
      margin-top: 8px;
      font-size: 20px;
      font-family: "cairo";
      line-height: 42px;
      outline: none;
      border-radius: 5px;
      border: 1px solid #eee;
      color: #555;
      padding: 0px 15px;
      text-align: right;
    }

    .load {
      float: right;
      background: #555;
      border: none;
      color: #fff;
      font-family: "cairo";
      width: 160px;
      line-height: 44px;
      font-size: 17px;
      border-radius: 3px;
      margin: 0px calc(50% - 80px);
      margin-bottom: 60px;
      margin-top: 30px;
    }
  }
}

.pserson-data {
  float: right;
  width: calc(100% - 40px);
  margin: 0px 20px;
  margin-top: 30px;

  .item {
    float: right;
    width: 100%;
    margin-bottom: 30px;

    .label {
      float: right;
      color: #777;
      font-size: 16px;
      margin-left: 5px;
      line-height: 20px;
      margin-right: -4px;
    }

    .full {
      float: right;
      width: calc(100% - 40px);
      margin: 0px;
      margin-top: 8px;
      font-size: 20px;
      font-family: "cairo";
      line-height: 42px;
      outline: none;
      border-radius: 5px;
      border: 1px solid #eee;
      color: #555;
      padding: 0px 15px;
      text-align: right;
      height: 44px;
    }
  }

  .item-half {
    float: right;
    width: 50%;
    margin-bottom: 30px;

    .label {
      float: right;
      color: #777;
      font-size: 16px;
      margin-left: 5px;
      line-height: 20px;
      margin-right: -4px;
    }

    .full {
      float: right;
      width: calc(100% - 40px);
      margin: 0px;
      margin-top: 8px;
      font-size: 20px;
      font-family: "cairo";
      line-height: 42px;
      outline: none;
      border-radius: 5px;
      border: 1px solid #eee;
      color: #555;
      padding: 0px 15px;
      text-align: right;
      height: 44px;
    }
  }

  .item-part {
    float: right;
    width: 25%;
    margin-bottom: 30px;

    .label {
      float: right;
      color: #777;
      font-size: 16px;
      margin-left: 5px;
      line-height: 20px;
      margin-right: -4px;
    }

    .full {
      float: right;
      width: calc(100% - 40px);
      margin: 0px;
      margin-top: 8px;
      font-size: 20px;
      font-family: "cairo";
      line-height: 42px;
      outline: none;
      border-radius: 5px;
      border: 1px solid #eee;
      color: #555;
      padding: 0px 15px;
      text-align: right;
      height: 44px;
    }
  }

  .update {
    float: right;
    background: #e74c3c;
    border: none;
    color: #fff;
    font-family: "cairo";
    width: 160px;
    line-height: 44px;
    font-size: 17px;
    border-radius: 3px;
    margin: 0px calc(50% - 80px);
    margin-bottom: 60px;
  }
}

.Not-User {
  float: right;
  width: 400px;
  margin: 100px calc(50% - 200px);
  font-size: 28px;
  color: #777;
  height: 400px;
  text-align: center;

  a {
    color: #e74c3c;
    font-weight: bold;
    margin-right: 5px;
  }
}